[Unit]
Description=Release flusher application

[Service]
ExecStart=/home/ubuntu/message-hub --users=/home/ubuntu/users.json
WorkingDirectory=/home/ubuntu
Restart=on-failure
RestartSec=3
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=flusher

[Install]
WantedBy=multi-user.target
